@{
    ViewData["Title"] = "SquareRoot";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>   
</div>

<div>

</div>

<div>
    <form asp-controller="WebController" asp-action="SquareRoot" method="POST">

        <input type="number" placeholder= "First Number" name = "firstNumber"/>
        <input type="number" placeholder= "Second Number" name = "secondNumber"/>
        <button type = " submit">Submit</button> 

    </form>
    
</div>
